{% load tag_library %} {% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <title>SNSC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {% if request|is_local %}
    <script src="https://cdn.tailwindcss.com"></script>
    {% else %}
    <link href="{% static 'web/css/tailwind_output.css' %}" rel="stylesheet" />
    {% endif %}
    <link href="{% static 'web/css/base.css' %}" rel="stylesheet" />

    <link rel="icon" href="{% static 'web/img/favicon.ico' %}" />
  </head>
  <body>
    <div class="container flex flex-col">
      <header class="flex h-10 w-screen justify-between border-b border-gray-200 bg-white px-8">
        <div class="flex gap-8">
          <div class="flex items-center">
            <img class="h-8 w-8" src="{% static 'web/img/Instagram_Glyph_Gradient_RGB.png' %}" />
          </div>
          <nav class="flex items-center max-lg:hidden">
            <ul class="flex gap-8">
              <li><a href="{% url 'web:index' %}">トップ</a></li>
              <li><a href="{% url 'web:post_list' %}">投稿一覧</a></li>
              <li><a href="{% url 'web:post_register' %}">サイト管理</a></li>
            </ul>
          </nav>
        </div>
        <div class="flex items-center gap-8">
          <form name="change-site" method="post" action="{% url 'web:index' %}">
            {% csrf_token %}
            <details class="relative">
              <summary class="cursor-pointer">{{ snsc__current_site_name }}</summary>
              <ul
                class="absolute right-0 top-7 flex w-max cursor-pointer flex-col gap-2 rounded border border-gray-200 bg-white p-2"
              >
                {% for site_name in snsc__site_names %}
                <li class="header__site-item hover:bg-slate-100">{{ site_name }}</li>
                {% endfor %}
              </ul>
            </details>
          </form>
          <form name="logout" method="post" action="{% url 'web:logout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
          </form>
        </div>
      </header>
      <main class="min-h-screen w-screen shrink grow basis-0 overflow-y-auto overflow-x-hidden bg-violet-50">
        {% block main %} {% endblock %}
      </main>

      <footer></footer>
    </div>
    <script>
      document.querySelectorAll(".header__site-item").forEach((site) => {
        site.addEventListener("click", () => {
          const siteNameInput = document.createElement("input")
          siteNameInput.type = "hidden"
          siteNameInput.name = "site"
          siteNameInput.value = site.innerHTML
          site.appendChild(siteNameInput)
          document.querySelector('form[name="change-site"]').submit()
        })
      })

      document.querySelectorAll(".form__item").forEach((formItem) => {
        formItem.addEventListener("input", () => {
          document.querySelector(".foot-form-banner").style.display = "flex"
        })
        formItem.addEventListener("change", () => {
          document.querySelector(".foot-form-banner").style.display = "flex"
        })
      })

      document.querySelector(".foot-form-banner__button--reset").addEventListener("click", () => {
        document.querySelector(".foot-form-banner").style.display = "none"
      })
    </script>
  </body>
</html>
